body{
  margin: 20px;
}

.fukol{
  margin: auto;
}

/* The Fukol CSS 'grid system' */
.fukol-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.fukol-grid > * {
  flex: 1 0 10em;
  margin: 0.5em;
}

.content-box{
  width: 400px;
  height: 400px;
}

.content-box1{
  background-color: #F7941D;
  width: 400px;
  height: 400px;
}

.content-box1 p{
  color: #f0f0f0;
  margin-left: 10px;
}

.content-box2{
  background-color: #30736A;
  min-width: 200px;
  min-height: 200px;
  max-height: 500px;
}

.content-box3{
   background-image: url("http://127.0.0.1/Users/Optimus_Prime/Pictures/sshackital.jpg");
  min-width: 200px;
  min-height: 200px;
  max-height: 500px;
}
